@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@if (signInManager.IsSignedIn(User))
{
    var currentuser = await userManager.GetUserAsync(User);
    var isAdmin = currentuser != null && await userManager.IsInRoleAsync(currentuser, "Administrator");

    if (isAdmin)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="VacationList" asp-action="Index">Admin</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Admin(disabled)</a>
        </li>
    }
}
